In [1]:
## Purpose: Get location info for all teams in the transfers dataset. Collecting this data was not the original plan, but instead
## of changing the get_teams() function and teams_dict(), for the sake of not messing up my code I will create a new function and dictionary.
## It is not ideal and leads to having the same data multiple times, but it is the easiest thing to do for now.

In [2]:
import pandas as pd
import numpy as np
import requests

In [3]:
## read in transfers df
df = pd.read_csv('transfers.csv')
df.head()

,lastUpdate,player_id,player_name,transfer_date,type,team_in_id,team_in_name,team_out_id,team_out_name
0,1587248847,230945,Nick Liversedge,2013-09-16,Loan,4694.0,Hyde United,44.0,Burnley
1,1587248847,230945,Nick Liversedge,2013-07-01,Free,44.0,Burnley,7757.0,Whitby Town
2,1596440639,19115,B. Peacock-Farrell,2019-08-02,€ 2.8M,44.0,Burnley,63.0,Leeds
3,1598675887,102734,Richard Chaplow,2005-01-01,2.3M €,60.0,West Brom,44.0,Burnley
4,1598675893,87911,Martin Paterson,2013-07-01,Free,37.0,Huddersfield,44.0,Burnley

In [4]:
## get a series of all unique team ids. Need to change these from floats to int and then str
team_ids = df['team_in_id'].append(df['team_out_id'])
teams_unique = team_ids.unique()
teams_unique = teams_unique.astype(int)
teams_unique = teams_unique.astype(str)
teams_unique = list(teams_unique)

## Define function to get team info from id

In [5]:
headers = {
    'x-rapidapi-host': "api-football-v1.p.rapidapi.com",
    'x-rapidapi-key': "835fa8219cmsh874166c2864ff34p19eddcjsneace1fe07ff5"
    }

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60766 entries, 0 to 60765
Data columns (total 9 columns):
lastUpdate       60766 non-null int64
player_id        60766 non-null int64
player_name      60764 non-null object
transfer_date    60766 non-null object
type             38998 non-null object
team_in_id       60104 non-null float64
team_in_name     60120 non-null object
team_out_id      60212 non-null float64
team_out_name    60235 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 4.2+ MB

In [7]:
## reminder that null ids are considered 'released'
df.loc[df['team_in_id'].isnull() == True, :]

,lastUpdate,player_id,player_name,transfer_date,type,team_in_id,team_in_name,team_out_id,team_out_name
1799,1598913414,114831,Alex Smith,231112,Loan,NaN,NaN,36.0,Fulham
2102,1580443016,87053,Jérémie Aliadière,010206,Loan,NaN,NaN,42.0,Arsenal
2103,1580443016,87053,Jérémie Aliadière,250805,Loan,NaN,NaN,42.0,Arsenal
2115,1586725256,218293,Germán Ricardo Riera,2013-08-01,Free,NaN,NaN,42.0,Arsenal
2343,1598898405,19021,Håvard Nordtveit,2008-08-01,Loan,NaN,NaN,42.0,Arsenal
2505,1598922653,19016,Calum Chambers,2017-07-14,NaN,NaN,NaN,42.0,Arsenal
2628,1599023257,51046,Carlos Alberto Vela Garrido,2006-07-01,Loan,NaN,NaN,42.0,Arsenal
2993,1598920676,90496,Conor Masterson,2016-08-01,NaN,NaN,NaN,40.0,Liverpool
5432,1598897764,18737,John Ruddy,2006-01-01,Loan,NaN,NaN,45.0,Everton
5529,1598909400,82882,Iain Turner,2004-02-05,Loan,NaN,NaN,45.0,Everton
5757,1573698108,106749,Samuel Wilding,2019-01-22,Loan,NaN,Leamington,60.0,West Brom
8332,1598912747,83032,Scott Parker,130805,9M €,NaN,NaN,49.0,Chelsea
8449,1598923709,90502,Kyle Scott,2019-07-29,Free,NaN,NaN,49.0,Chelsea
8498,1599012460,81667,Jhoao Leandro Rodríguez González,2014-01-01,Loan,NaN,NaN,49.0,Chelsea
8981,1598922087,19318,Kyle Naughton,2007-07-01,Loan,NaN,NaN,62.0,Sheffield Utd
9248,1589705038,119162,Ryan David Leak,2018-07-01,Loan,NaN,NaN,39.0,Wolves
9277,1598863390,87768,Sherwin Dandery Seedorf,2019-01-20,Loan,NaN,NaN,39.0,Wolves
9292,1598881927,82015,John Robert Ruddy,2018-08-31,Loan,NaN,NaN,39.0,Wolves
9353,1598891887,82102,Will Randall,2018-07-01,Loan,NaN,NaN,39.0,Wolves
9609,1598932561,100571,Ming-Yang Yang,2018-07-20,Loan,NaN,NaN,39.0,Wolves
9639,1599016195,69391,Aaron Simpson,2018-07-01,Loan,NaN,NaN,39.0,Wolves
9673,1599018574,17578,Ben Edward Stevenson,2018-08-31,Loan,NaN,NaN,39.0,Wolves
9999,1599135920,71212,Deshorn Brown,2018-01-31,NaN,NaN,NaN,1615.0,DC United
10547,1599133764,230910,Saër Sène,120814,Swap,NaN,NaN,1609.0,New England Revolution
10831,1599133479,103497,John Andreu Neeskens Ramírez,2016-07-09,NaN,NaN,NaN,1605.0,Los Angeles Galaxy
10903,1585366739,75903,Mario Nahuel Quiroga,2018-07-01,NaN,NaN,NaN,1596.0,San Jose Earthquakes
10906,1586711461,218059,Gonzalo Eduardo Rovira,2016-02-14,Free,NaN,NaN,1596.0,San Jose Earthquakes
10939,1590635036,65824,José Feliciano Peñarrieta Flores,2013-07-01,Free,NaN,NaN,1596.0,San Jose Earthquakes
11579,1599119689,50753,Chris Seitz,2009-01-01,Loan,NaN,NaN,1606.0,Real Salt Lake
11610,1599119841,16198,Collen Warner,2010-06-01,Loan,NaN,NaN,1606.0,Real Salt Lake
...,...,...,...,...,...,...,...,...,...
59038,1599021394,9508,Thiago Maier dos Santos,2008-09-21,Loan,NaN,NaN,494.0,Udinese
59095,1599104925,15422,Jan Koprivec,2009-08-17,Loan,NaN,NaN,494.0,Udinese
59167,1599109057,48153,Henok Goitom,2005-07-01,NaN,NaN,NaN,494.0,Udinese
59200,1587954108,209221,Riccardo Fissore,2011-08-31,Free,NaN,NaN,515.0,Spezia
59207,1588565406,127077,Yuri Papi,2012-07-30,Loan,NaN,NaN,515.0,Spezia
59224,1594698800,32197,Alessandro Cesarini,2011-08-29,Loan,NaN,NaN,515.0,Spezia
59246,1594699992,30720,Nicolas Izzillo,2013-08-07,NaN,NaN,NaN,515.0,Spezia
59450,1599017977,31660,Pietro Iemmello,2015-07-20,Loan,NaN,NaN,515.0,Spezia
59573,1580659209,196717,David Speziale,2016-07-23,Free,NaN,NaN,504.0,Verona
59577,1580659209,196717,David Speziale,2013-07-18,Loan,NaN,NaN,504.0,Verona
59588,1596440382,56328,D. Ragatzu,2014-01-20,Loan,NaN,NaN,504.0,Verona
59675,1598893523,128432,Kris Jogan,2014-01-30,Loan,NaN,NaN,504.0,Verona
59716,1598930058,115230,Paolo Grossi,2014-08-21,Loan,NaN,NaN,504.0,Verona
59728,1598930100,30923,M. Franchetti,2016-01-08,Loan,NaN,NaN,504.0,Verona
59742,1598930120,147749,Pasquale De Vita,2014-08-14,Loan,NaN,NaN,504.0,Verona
59743,1598930120,147749,Pasquale De Vita,2013-08-26,Loan,NaN,NaN,504.0,Verona
59927,1599017297,31427,Simone Calvano,2013-08-01,Loan,NaN,NaN,504.0,Verona
59929,1599017297,31427,Simone Calvano,2013-01-15,Loan,NaN,NaN,504.0,Verona
59972,1599019812,30792,Nicolas David Andrade,2014-08-14,Loan,NaN,NaN,504.0,Verona
60054,1599108300,30826,Filippo De Col,2013-08-02,Loan,NaN,NaN,504.0,Verona
60106,1584104582,209006,Filippo Franchi,2017-08-04,Loan,NaN,NaN,497.0,AS Roma
60118,1587871393,31275,Marco Frediani,2013-07-11,Loan,NaN,NaN,497.0,AS Roma
60163,1594700205,56778,Filippo Maria Scardina,2015-08-19,NaN,NaN,NaN,497.0,AS Roma
60166,1594700205,56778,Filippo Maria Scardina,2013-07-25,Loan,NaN,NaN,497.0,AS Roma
60168,1594700205,56778,Filippo Maria Scardina,2013-01-25,Loan,NaN,NaN,497.0,AS Roma
60170,1594700205,56778,Filippo Maria Scardina,2011-07-21,Loan,NaN,NaN,497.0,AS Roma
60176,1596351385,237953,Rudi Marcelo Rocha,2012-01-01,NaN,NaN,NaN,497.0,AS Roma
60492,1598931235,209259,Mattia Rosato,2015-08-15,Loan,NaN,NaN,497.0,AS Roma
60552,1599014703,56774,Jonathan Alexis Ferrante,2013-09-02,Loan,NaN,NaN,497.0,AS Roma
60762,1599109640,31636,Deian Boldor,2015-07-23,NaN,NaN,NaN,497.0,AS Roma

In [8]:
all_teams = {}

def get_team_info(team_id):
    team = {}
    url = "https://api-football-v1.p.rapidapi.com/v2/teams/team/" + str(team_id)
    response = requests.request("GET", url, headers = headers)
    
    obj = response.json()
    info = obj['api']['teams'][0]
    
    name = info['name']
    country = info['country']
    venue = info['venue_name']
    address = info['venue_address']
    city = info['venue_city']
    
    team = {
        'name': name,
        'country': country,
        'city': city,
        'venue': venue,
        'address': address
    }
    
    return team

In [9]:
## COMMENT OUT TO NOT RERUN

# ## get info for all teams
# passed = []
# for team in teams_unique:
#     try:
#         info = get_team_info(team)
#         all_teams[team] = info
#     except:
#         passed.append(team)
#         pass
    
# all_teams

In [10]:
#passed

NameError: name 'passed' is not defined

## Define function to get lat and lng from address, city, country

In [11]:
##opencage api info

geocode_key = '81d4e5419fc7490a9137a3a30aec7eee'
url = "https://opencage-geocoder.p.rapidapi.com/geocode/v1/json"
headers = {
    'x-rapidapi-host': "opencage-geocoder.p.rapidapi.com",
    'x-rapidapi-key': "835fa8219cmsh874166c2864ff34p19eddcjsneace1fe07ff5"
    }

In [42]:
def get_coordinates(team):
    try:
        search = all_teams[team]['address'] + ", " + all_teams[team]['city'] + ", " + all_teams[team]['country']
        querystring = {"language":"en","key":geocode_key,"q":search}
    
        response = requests.request("GET", url, headers=headers, params=querystring)
        obj = response.json()
        result = obj['results'][0] ## take first result
        lat = result['annotations']['DMS']['lat']
        lng = result['annotations']['DMS']['lng']

        all_teams[team]['lat'] = lat
        all_teams[team]['lng'] = lng
    except:
        try:
            search = all_teams[team]['venue']
            querystring = {"language":"en","key":geocode_key,"q":search}

            response = requests.request("GET", url, headers=headers, params=querystring)
            obj = response.json()
            result = obj['results'][0] ## take first result
            lat = result['annotations']['DMS']['lat']
            lng = result['annotations']['DMS']['lng']

            all_teams[team]['lat'] = lat
            all_teams[team]['lng'] = lng
        except:
            try: 
                search = all_teams[team]['venue'] + ", " + all_teams[team]['country']
                querystring = {"language":"en","key":geocode_key,"q":search}

                response = requests.request("GET", url, headers=headers, params=querystring)
                obj = response.json()
                result = obj['results'][0] ## take first result
                lat = result['annotations']['DMS']['lat']
                lng = result['annotations']['DMS']['lng']

                all_teams[team]['lat'] = lat
                all_teams[team]['lng'] = lng
            except:
                try:
                    search = all_teams[team]['city']
                    querystring = {"language":"en","key":geocode_key,"q":search}

                    response = requests.request("GET", url, headers=headers, params=querystring)
                    obj = response.json()
                    result = obj['results'][0] ## take first result
                    lat = result['annotations']['DMS']['lat']
                    lng = result['annotations']['DMS']['lng']

                    all_teams[team]['lat'] = lat
                    all_teams[team]['lng'] = lng
                except:
                    try:
                        search = all_teams[team]['country']
                        querystring = {"language":"en","key":geocode_key,"q":search}

                        response = requests.request("GET", url, headers=headers, params=querystring)
                        obj = response.json()
                        result = obj['results'][0] ## take first result
                        lat = result['annotations']['DMS']['lat']
                        lng = result['annotations']['DMS']['lng']

                        all_teams[team]['lat'] = lat
                        all_teams[team]['lng'] = lng
                    except:
                        passed2.append(team)
                        pass

In [ ]:
## get coordinates for all teams

## COMMENT OUT AS THIS HAS ALREADY RUN
# passed2 = []
# for team in all_teams:
#     get_coordinates(team)

In [ ]:
#passed2

In [ ]:
#len(passed2)

In [ ]:
## save all passed2 teams to run again tomorrow
## save all_teams as json

# import json
# with open('all_teams.json', 'w') as outfile:
#     json.dump(all_teams, outfile, indent = 4)
    
# with open('passed_on_coordinates.txt', 'w') as outfile:
#     outfile.write(str(passed2))

## Read in the teams that were passed and rerun the function - they were passed due to api limits

In [13]:
import ast

## read to list of teams to rerun in as a nested file
rerun_nested = []
with open("passed_on_coordinates.txt", "r") as f:
    rerun_nested.append(ast.literal_eval(f.read()))
    
f.close()

rerun = rerun_nested[0]

In [15]:
import json
## read in all_teams file that has been saved
f = open('all_teams.json')
all_teams = json.load(f)
f.close()

In [18]:
## loop through file and call the function. Use passed2 again for teams that are passed on
passed2 = []
# for team in rerun:
#     get_coordinates(team)

In [ ]:
rerun2 = passed2

In [47]:
passed2 = []
for team in rerun2:
    get_coordinates(team)

In [48]:
passed2

['10907', '10894']

In [51]:
## there are now only two teams without coordinates - save the rest to all_teams file
with open('all_teams.json', 'w') as outfile:
#     json.dump(all_teams, outfile, indent = 4)